efficientnet_pytorch==0.7.1
einops==0.6.0
inplace_abn==1.1.0
matplotlib==3.5.1
numpy==1.23.5
pretrainedmodels==0.7.4
prettytable==3.6.0
torch
torchtext==0.12.0
torchvision==0.12.0

setuptools
timm
tqdm
transformers

